body{
  font-family: "Monsterrat";
}
.coloured-background{
  background-color: #ff4c68;
  color: #fff;
}
.white-background{
  background-color: #fff;

}
/* #title {
  background-color: #ff4c68;
  color: white;
} */

h1{
  font-family: "Monsterrat-Black";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Monsterrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
   padding: 3% 5% 7%; /*top L_R bottom; */
}
p{
  color: #8f8f8f;
}

/* navigation-bar */

.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: "Monsterrat-light";
}


/* Download-buttons */
.download-button{
  margin: 5% 3% 3% 0;
}

/* Title-image */
.title-image{
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.features{
  font-family: Monsterrat-bold;
}
.sub{
  color: #8f8f8f;
}
#features{
  padding: 7% 15%;
  position: relative;
  /* z-index: 1;  due to the flowchart of z-index;*/
  /* background-color: white; */
}

.feature-box{
  text-align: center;
  padding: 5%;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonial-section */
#testimonials{
  /* background-color: #ff4c68; */
  text-align: center;
  /* color: #fff; */

}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-img{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

/* Press-section */
#press{
  /* background-color: #ff4c68; */
  text-align: center;
  padding-bottom: 3%;
}

.press-img{
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* Pricing */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

/* Media query */
@media (max-width : 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0deg);
  }
}

/* Call-to-Action */
#cta{
  /* background-color: #ff4c68; */
  padding: 3% 7%;
  font-family: cursive;
  /* color: #fff; */
  text-align: center;

}
.action{
  font-family: Monsterrat-Black;
  font-size: 3.5rem;
  line-height: 1.5
}

/* Footer */
#footer{
  /* background-color: #fff; */
  text-align: center;
  font-size: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10%;


}
.social-icons{
  margin: 20px 20px;
}
